<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>DotNet</title>
</head>
<body>
	<h3>@ViewBag.PageTitle</h3>
	@{
		var employee = ViewBag.Employee;
	}
	<div>
		Name: @employee.Name
	</div>
	<div>
		Email: @employee.Email
	</div>
</body>
</html>